// import library
@import "compass/css3";
@import "compass/reset";
// -------------------------------

$default-btn-background-color: rgba(#ffa214, 0.5);
$default-btn-background-color-active: rgba(blue, 0.4);
$default-text-shadow-color: rgba(red, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

.btn-red {
  background-color: rgba(red, 0.5);
}
.btn-blue {
  background-color: rgba(blue, 0.5);
}
.btn-yellow {
  background-color: rgba(yellow, 0.5);
}
.btn-pink {
  background-color: rgba(pink, 0.5);
}
.btn-green {
  background-color: rgba(green, 0.5);
}
.btn-aliceblue {
  background-color: rgba(aliceblue, 0.5);
}
.btn-cyan {
  background-color: rgba(cyan, 0.5);
}
.btn-aquamarine {
  background-color: rgba(aquamarine, 0.5);
}


// Can output up to ten text shadows
.press-btn {
  @include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
}

.container {
  width: 100vw;
  height: 100vh;

  * {
    @include user-select(none);
  }

  .press-btn {
    display: inline-block;
    width: 30vw;
    height: 30vh;
    margin: 1.5vh 1.5vw;
    line-height: 30vh;
    text-align: center;
    font-size: 5vw;
    box-sizing: border-box;
    border: 1vw solid #ddd;
    border-radius: 5vw;
    cursor: pointer;

    &:active, &.active {
      background-color: $default-btn-background-color-active !important;
      color: #ffffff;
    }
  }
}